
<ion-content  class="background">
  <div class="contents">
    <div class="title">
    <img src="./assets/2.png" alt="">
  </div>
    <!-- LOGO -->
  <ion-avatar class="item-avatar" >
    <img src="./assets/1.png">
  </ion-avatar>
  <ion-grid >
    <div class="ion-text-center">
      <!-- SLOGAN -->
    <ion-row>
      <ion-col>
        <ion-text class="slogan" color="light"><!-- -->
          "When One Teaches, Two Learn"
        </ion-text>
      </ion-col>
    </ion-row>
      <!-- SIGN IN BUTTONS -->
    <ion-row class="signin-margin">
      <ion-col class="ion-text-center">
        <ion-button  class="signin-button" shape="round" color="light">
          <ion-text class="custom-button-text">Sign In</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
        <br>
        <!-- REGISTER BUTTONS -->
        <ion-row class="register-margin">
          <ion-col class="ion-text-center">
        <ion-button class="register-button" shape="round" color="light">
          <ion-text class="custom-button-text">Register</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="light" class="extra-text">
         <p>- Or Join With -</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="sync-button">
         <!-- GOOGLE BUTTONS -->
        <ion-button color="light" class="google-button">
          <ion-icon name="logo-google"></ion-icon>
          </ion-button>
         <!-- FB BUTTONS -->
        <ion-button color="light" class="fb-button">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>
</div>
</ion-content>
